<!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            @DateTime.Now.Year - Webinar Demo
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

@code {

}
